@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@using University.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="jumbotron">
    <h1>NAJDI'S UNIVERSITY</h1>
    <p class="lead">WELCOME! </p>

</div>

<h3>@ViewBag.ErrorMessage</h3>


<div class="row">
    <div class="col-md-4">

        <a class="nav-link text-dark" asp-area="" asp-controller="Papers" asp-action="Index"><img src="/img/paper.jpg" alt="REQUEST PAPER" style="width:200px;height:200px;"></a>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Papers" asp-action="Index"><h3>REQUEST PAPER</h3></a>
        </p>
    </div>
    <div class="col-md-4">

        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="/img/profil.png" alt="PROFIL" style="width:200px;height:210px;"></a>
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><h3>Manage your Profil @UserManager.GetUserName(User)</h3></a>
    </div>



    <div class="col-md-4">

        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index"><img src="/img/tracking.jpg" alt="REQUEST PAPER" style="width:200px;height:200px;"></a>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index"><h3>Tracking Paper</h3></a>
        </p>
    </div>


</div>